name: Build and Test
permissions: read-all
env:
  LLVM_COMMIT: "cd5fcea6"
  LLVM_INSTALL_PATH: "${{ github.workspace }}/llvm-install"
  CI: "true"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache LLVM install directory
        id: cache-llvm
        uses: actions/cache@v3
        with:
          path: ${{ env.LLVM_INSTALL_PATH }}
          key: ${{ runner.os }}-llvm-install-${{ env.LLVM_COMMIT }}

      - name: Build LLVM (only if cache miss)
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: |
          echo "Cache miss! Building LLVM from source..."
          git clone https://github.com/llvm/llvm-project.git
          cd llvm-project
          git checkout ${{ env.LLVM_COMMIT }}
          
          mkdir build && cd build
          cmake -G Ninja ../llvm \
            -DCMAKE_INSTALL_PREFIX=${{ env.LLVM_INSTALL_PATH }} \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_ENABLE_ASSERTIONS=ON \
            -DLLVM_ENABLE_PROJECTS="mlir" \
            -DLLVM_TARGETS_TO_BUILD="X86" \
            -DLLVM_ENABLE_RTTI=ON

          ninja install

          cd ../..
          rm -rf llvm-project

      - name: Build and Test
        run: |
          pip install cmake lit
          mkdir build && cd build
          cmake .. -DMLIR_DIR=${{ env.LLVM_INSTALL_PATH }}/lib/cmake/mlir -DCMAKE_CXX_FLAGS="-fno-rtti" -DCMAKE_INSTALL_PREFIX=../install/release
          cmake --build .
          cmake --install .
          cd ..
          
          lit tests